{% extends 'IgaBuilderBundle::layout.html.twig' %}
{% form_theme form 'IgaBuilderBundle:Form:inline_theme.html.twig' %}
{% form_theme vendorForm 'IgaBuilderBundle:Form:inline_theme.html.twig' %}
{% block extra %}
{% if configForm is defined %}
    <link rel="stylesheet" href="{{ asset('bundles/igabuilder/codemirror/lib/codemirror.css') }}">
    <script src="{{ asset('bundles/igabuilder/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/lib/util/matchbrackets.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/mode/htmlmixed/htmlmixed.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/mode/xml/xml.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/mode/javascript/javascript.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/mode/css/css.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/mode/clike/clike.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/mode/php/php.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/mode/yaml/yaml.js') }}"></script>

    <script src="{{ asset('bundles/igabuilder/codemirror/lib/util/searchcursor.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/lib/util/search.js') }}"></script>
      <script src="{{ asset('bundles/igabuilder/js/editor.js') }}"></script>

    <style type="text/css">
      .editor { margin:0px;}
      .CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
      dt {font-family: monospace; color: #666;}
      .CodeMirror {
        border: 1px solid #eee;
        height: 100%;
        min-height: 100%;
      }
    </style>
    {% endif %}
{% endblock %}
{% block panel %}
          <div class="row-fluid">
            <div class="span2">
              <h3>Bundles</h3>
              <hr>
            {% for bundle in bundles %}
              <h5>{{bundle.namespace}} <small>{{bundle.name}}</small></h5>
              <a class="btn btn-block btn-primary" href="{{ path('builder_editor',{'namespace':bundle.routenamespace,'name':bundle.name}) }}">Editar</a>

            {% endfor %}
            <hr><br>
                            <h4>Crear Bundle</h4>
              <form class="form-inline" method="POST" action="{{ path('builder_bundle') }}">
                {{ form_widget(form.namespace,{'attr':{'class':'input-mini','placeholder':'NS'}}) }}
                {{ form_widget(form.name,{'attr':{'class':'input-mini','placeholder':'NameBundle'}}) }}
                {{ form_rest(form) }}<br><br> 
                <input type="submit" class="btn btn-success btn-block" value="Crear Bundle">
                </form>
                <hr><br>
                            <h4>Enlazar Bundle</h4>
                            Nombre composer:
                            <form action="{{ path('builder_bundle_vendor_add') }}" method="POST">
                 {{ form_widget(vendorForm.vendor,{'attr':{'class':'input-mini','placeholder':'Vendor'}}) }}
                {{ form_widget(vendorForm.bundle,{'attr':{'class':'input-mini','placeholder':'Package'}}) }}    
                {{ form_rest(vendorForm) }}
                <input class="btn btn-success btn-block" value="Añadir a Composer" type="submit">                        </form>

            </div><!--/span-->
            <div class="span10">
              <div class="btn-toolbar">
                <div class="btn-group">
                  {% for file in configTree %}
                    <a class="btn{% if configFile is defined %}{% if configFile.name == file.name %} active{% endif %}{% endif %}" href="{{ path('builder_bundle',{'configFileName':file.name,'configFileRoute':file.route}) }}">{{file.name}}</a>
                  {% endfor %}
                </div>
              </div>
              {% if configForm is defined %}
                  <form class="editor" method="POST" {{ form_enctype(configForm) }}>
                    {{ form_widget(configForm.content,{'id':'code'}) }}
                    {{ form_rest(configForm) }}
                    <input type="submit" value="Guardar" class="btn btn-block btn-primary">
                  </form>
                    <script>
                      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                        lineNumbers: true,
                        matchBrackets: true,
                        mode: "text/x-yaml",
                        indentUnit: 4,
                        indentWithTabs: false,
                        enterMode: "keep",
                        tabMode: "shift"
                      });
                    </script>
                  {% endif %}

    
            </div><!--/span-->

          </div><!--/row-->
{% endblock %}
