{% extends 'IgaBuilderBundle::layout.html.twig' %}
{% form_theme form 'IgaBuilderBundle:Form:inline_theme.html.twig' %}
{% block panel %}
          <div class="row-fluid">
            <div class="span4">
              <h3>Bundles</h3>
              <hr>
            {% for bundle in bundles %}
              <h5>{{bundle.namespace}} <small>{{bundle.name}}</small></h5>
              <a class="btn btn-block btn-primary" href="{{ path('builder_editor',{'namespace':bundle.routenamespace,'name':bundle.name}) }}">Editar</a>

            {% endfor %}
            <hr><br>
                            <h4>Crear Bundle</h4>
              <form class="form-inline" method="POST">
                {{ form_row(form.namespace,{'attr':{'class':'input-mini','placeholder':'NS'}}) }}
                {{ form_row(form.name,{'attr':{'class':'input-medium','placeholder':'NameBundle'}}) }}
                {{ form_rest(form) }}<br><br> 
                <input type="submit" class="btn btn-success btn-block" value="Crear Bundle">
                </form>
                <hr><br>
                            <h4>Enlazar Bundle</h4>
                            Nombre composer:

            </div><!--/span-->
            <div class="span4">
              <h3>Configuración</h3>
              
            </div><!--/span-->

          </div><!--/row-->
{% endblock %}
