{% extends 'IgaBuilderBundle:Generator:layout.html.twig' %}
{% form_theme form 'IgaBuilderBundle:Form:horizontal_theme.html.twig' %}
{% block title %}
<h3>Nueva Entidad</h3>
{% endblock %}
{% block actions %}
    <a href="#" class="btn btn-primary btn-submit-form">Generar Entidad</a>
{% endblock %}
{% block panel_body %}
<form class="form form-horizontal form-to-submit" action="{{ path('builder_generator_entity',{'namespace':namespace,'name':name,'referer':true}) }}" method="POST">
      {{ form_row(form.name) }}
      {{ form_row(form.format) }}
      <div class="control-group">
      	<label class="control-label">Campos</label>
      	<div class="controls">
      	  	<table class="fields table table-condensed" data-prototype-name="{{ form_widget(form.fields.vars.prototype.name)|e }}" data-prototype-type="{{ form_widget(form.fields.vars.prototype.type)|e }}" data-prototype-length="{{ form_widget(form.fields.vars.prototype.length)|e }}">
      			<tr>
      				<td>Nombre</td>
      				<td>Tipo</td>
      				<td>Length</td>
      			</tr>
      			{% for field in form.fields %}
      			<tr>
      				<td>{{ form_widget(field.name) }}</td>
      				<td>{{ form_widget(field.type) }}</td>
      				<td>{{ form_widget(field.length) }}</td>
      			</tr>
        		{% endfor %}
      		</table>
  		</div>
	</div>
      {{ form_rest(form) }}
</form>
<script>
// Get the div that holds the collection of tags
var collectionHolder = $('table.fields');

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="btn btn-block">Añadir Campo</a></td>');
var $newLinkTd = $('<td colspan="3"></td>').append($addTagLink);
var $newLinkTr = $('<tr></tr>').append($newLinkTd);

jQuery(document).ready(function() {
    // add the "add a tag" anchor and li to the tags ul
    collectionHolder.append($newLinkTr);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm(collectionHolder, $newLinkTr);
    });
    $(".mute").live('change',function(){
    	var val = $(this).val();
    	if(val!=8){
    		$(this).parent().parent().find('.muted').attr("disabled","disabled");
    	}else{
    		$(this).parent().parent().find('.muted').removeAttr("disabled");
    	}
    });
    $(".btn-submit-form").on('click',function(e){
        e.preventDefault();
        $(".form-to-submit").submit();

    });
});


function addTagForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype_name = collectionHolder.attr('data-prototype-name');
    var prototype_type = collectionHolder.attr('data-prototype-type');
    var prototype_length = collectionHolder.attr('data-prototype-length');

    // count the current form inputs we have (e.g. 2), use that as the new index (e.g. 2)
    var newIndex = collectionHolder.find('tr').length-1;

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    //var newForm = prototype.replace(/__name__/g, newIndex);
    newFormTdName = $("<td></td>").append(prototype_name.replace(/__name__/g, newIndex));
    newFormTdType = $("<td></td>").append(prototype_type.replace(/__name__/g, newIndex));
    newFormTdLength = $("<td></td>").append(prototype_length.replace(/__name__/g, newIndex));
    var newForm = $("<tr></tr>").append(newFormTdName).append(newFormTdType).append(newFormTdLength);
    // Display the form in the page in an li, before the "Add a tag" link li
    $newLinkLi.before(newForm);
}

</script>
{% endblock %}