{% extends 'IgaBuilderBundle:Editor:layout.html.twig' %}
{% block extra %}
    <link rel="stylesheet" href="{{ asset('bundles/igabuilder/codemirror/lib/codemirror.css') }}">
    <script src="{{ asset('bundles/igabuilder/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/lib/util/matchbrackets.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/mode/htmlmixed/htmlmixed.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/mode/xml/xml.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/mode/javascript/javascript.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/mode/css/css.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/mode/clike/clike.js') }}"></script>

    <script src="{{ asset('bundles/igabuilder/codemirror/lib/util/dialog.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/mode/php/php.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/igabuilder/codemirror/lib/util/dialog.css') }}">
    <script src="{{ asset('bundles/igabuilder/codemirror/lib/util/searchcursor.js') }}"></script>
    <script src="{{ asset('bundles/igabuilder/codemirror/lib/util/search.js') }}"></script>
    
    <style type="text/css">
      .CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
      dt {font-family: monospace; color: #666;}
      .CodeMirror {
        border: 1px solid #eee;
        height: 100%;
        min-height: 100%;
      }
    </style>
{% endblock %}
{% block panel %}

    <form><textarea id="code" name="code">{{content}}</textarea><br>
  <input type="submit" class="btn btn-block btn-primary" value="Guardar">
</form>


<script>
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "application/x-httpd-php",
        indentUnit: 4,
        indentWithTabs: true,
        enterMode: "keep",
        tabMode: "shift"
      });
    </script>
{% endblock %}
